---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Education from '../components/Education.astro';
import Certifications from '../components/Certifications.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Matías Agustín Viglianco">
	<div class="container mx-auto px-6 relative z-10">
		<Hero />
		<Experience />
		<Projects />
		<Skills />
		<Education />
		<Certifications />
	</div>
	<Footer />
</Layout>
