---
// src/components/Education.astro
import EducationItem from './EducationItem.astro';

const EDUCATION = [
    { id_prefix: 'edu1', title: 'Licenciatura en Informática', school: 'Universidad Siglo 21 (mar. 2025 - 2028)' },
    { id_prefix: 'edu2', title: 'Ingeniería en sistemas', school: 'Universidad Tecnológica Nacional (ene. 2020 - abr. 2025)' },
    { id_prefix: 'edu3', title: 'Full Stack Developer', school: 'ITBA Universidad (may. 2022 - sept. 2022)' }
];
---
<section id="education" class="py-20">
    <h2 class="section-title text-3xl font-bold text-white flex items-center mb-12 reveal-on-scroll" data-translate="education_title">
        <svg  class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5z" /></svg>
        Educación Formal
    </h2>
    <div class="space-y-6">
        {EDUCATION.map(edu => (
            <EducationItem {...edu} />
        ))}
    </div>
</section>