
<section id="skills" class="py-20">
    <h2 class="section-title text-3xl font-bold text-white mb-12 flex items-center reveal-on-scroll" data-translate="skills_title">
        Habilidades Técnicas
    </h2>
    <div class="space-y-8">
        <div class="reveal-on-scroll">
            <h3 class="text-xl font-semibold text-white mb-3" data-translate="skills_cat1_title">Diseño de Software</h3>
            <div class="flex flex-wrap">
                <span class="skill-tag">SOLID</span><span class="skill-tag">Clean Code</span><span class="skill-tag">Patrones de Diseño</span><span class="skill-tag">Microservicios</span><span class="skill-tag">Monolítica</span><span class="skill-tag">POO</span><span class="skill-tag">Programación Funcional</span>
            </div>
        </div>
        <div class="reveal-on-scroll">
            <h3 class="text-xl font-semibold text-white mb-3" data-translate="skills_cat2_title">Programación</h3>
            <div class="flex flex-wrap">
                <span class="skill-tag">Python</span><span class="skill-tag">Java</span><span class="skill-tag">JavaScript</span><span class="skill-tag">TypeScript</span><span class="skill-tag">SQL</span><span class="skill-tag">Solidity</span><span class="skill-tag">Git</span><span class="skill-tag">Bash</span>
            </div>
        </div>
        <div class="reveal-on-scroll">
            <h3 class="text-xl font-semibold text-white mb-3" data-translate="skills_cat3_title">Bases de Datos</h3>
            <div class="flex flex-wrap">
                <span class="skill-tag">PostgreSQL</span><span class="skill-tag">MySQL</span><span class="skill-tag">SQLite</span><span class="skill-tag">MongoDB</span><span class="skill-tag">Firebase</span><span class="skill-tag">Amazon DynamoDB</span>
            </div>
        </div>
        <div class="reveal-on-scroll">
            <h3 class="text-xl font-semibold text-white mb-3" data-translate="skills_cat4_title">Tecnologías y Frameworks</h3>
            <div class="flex flex-wrap">
                <span class="skill-tag ">React</span><span class="skill-tag">Node.js</span><span class="skill-tag">Django</span><span class="skill-tag">FastAPI</span><span class="skill-tag">AWS</span><span class="skill-tag">Docker</span><span class="skill-tag">Kubernetes</span><span class="skill-tag">Tailwind CSS</span>
            </div>
        </div>
    </div>
</section>
